@{
    ViewData["Title"] = "Контакты";
}
<h2>@ViewData["Title"]</h2>
<h3>Елена Богатова</h3>

<address>
    Электронная почта: <a href="mailto:bogatova.elen.v@@mail.ru">bogatova.elen.v@@mail.ru</a><br />
</address>

@*<h3>Корхов Константин</h3>

<address>
    Электронная почта: <a href="mailto:korkhov.kons@@gmail.com">korkhov.kons@@gmail.com</a><br />
</address>*@