@{
    ViewData["Title"] = "Контакты";
}
<h2>@ViewData["Title"]</h2>
<h3>Елена Богатова</h3>

<address>
    Электронная почта: <a href="mailto:bogatova.elen.v@@mail.ru">bogatova.elen.v@@mail.ru</a><br />
    Телефон (Viber): +7-911-080-4345<br />
    <a href="https://vk.com/psycholoist" target="_blank"><img src="~/images/vk.png" width="30" /></a>
</address>

<h3>Корхов Константин</h3>

<address>
    Электронная почта: <a href="mailto:korkhov.kons@@gmail.com">korkhov.kons@@gmail.com</a><br />
    Телефон (Viber, WhatsApp): +380-93-913-9662<br />
    <a href="https://vk.com/korkhov_kons" target="_blank"><img src="~/images/vk.png" width="30" /></a>
    <a href="https://www.facebook.com/korkhov.kons" target="_blank"><img src="~/images/fb.png" width="30" /></a>

</address>