@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-10">
        <h2>Приглашаем принять участие в международном исследовании по пренатальной психологии</h2>
        <p>
            Целью данного исследования является изучения влияния психологического благополучия родителей во время беременности на психическое развитие ребёнк в период младенчества.
        </p>
        <p>
            Психическое развитие ребенка в последние десятилетия изучается в рамках взаимодействия ребенка с матерью как единой системы. К сожалению, исследований, подобных данному, очень мало во всём мире. Они могут помочь разработать методики и курсы поддержки будущих родителей.
        </p>
        <p>
            Исследование проводится в два этапа:
        </p>
        <ol>
            <li>Во время беременности. Исследуются такие вопросы, как пренатальная привязанность матери и отца к ребёнку, общая удовлетворенность жизнью и браком.</li>
            <li>В течении года после рождения ребенка.</li>
        </ol>
        <p>
            Для участия в исследовании Вам необходимо зарегистрироваться, чтоб сопоставить ваши результаты на первом и втором этапах. В процесса прохождения Вам потребуется лист А4, простой карандаш и ластик.
        </p>
        <p>
            После прохождения тестов вы получите краткий результат, а также можете связаться с нами для получения психологической консультации.
        </p>
        <p>
            Также мы были бы очень признательны, если бы Вы могли распространить ссылку на это исследование другим беременным парам.
        </p>
        <a asp-action="Register" asp-controller="Account"><input type="button" class="btn btn-info" value="Регистрация" /></a>
    </div>
</div>
